html, body{
	font-family: Calibri, san-serif;
	margin: 0;
}


header{
	background-image: url('../img/header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 40px; 
	text-align: center;
	height: 100vh;
	min-height: 650px;

}

h1{
	font-size: 70px;
	color: white;
	text-transform: uppercase;
	margin: 0;
}
h2{
	text-align: center;
	font-weight: bold;
	margin-top: 120px;
}
h3{
	text-align: center;
	font-weight: bold;
	font-size: 60px;
	margin-top: 75px;
    margin-bottom: -100px;
    color: #cce6ff;
}
hr{
	width: 180px;
	border-color: #000000;
	margin-bottom: 40px;
	display: block;
	border-width: 1px;

}

header img{
	width: 300px;
	/*border-radius: 150px;
	border: 10px solid #00004d;*/
}

.content{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}
img.smallImage{
	position: relative;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

img.big-image{
	max-width: 100%;
}
p.aboutme{
	text-align: left;
	font-size: 16px;
}
p.skilltext{
	font-size: 16px;
}
ul{
	padding: 15px;
	background-color: #cce6ff ;
	text-align: center;
/* changing the list style*/
}

footer{
	margin-top: 300px;
	padding: 20px 20px;
	background-color: #cce6ff;
	width: 100%;
}

footer ul{
	text-align: center;
	font-size: 16px;
}

footer ul li{
	display: inline-block;
	margin: 0 3px;
/* this changes the li in the ul that is within the footer, by making it an in-line block a margin can be applied*/
}
*{
	box-sizing: border-box;

}
.column{
	float: left;
	width: 25%;	
	padding: 20px;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}
@media screen and (max-width: 800px) {
	.column{
		width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.column{
		width: 100%;
	}
}

/* Photo grid css*/
.headerImage {
    text-align: center;
    padding: 32px;
}
.rowImage {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
.columnImage {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.columnImage img {
    margin-top: 8px;
    vertical-align: middle;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .columnImage {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .columnImage {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

iframe{
	position: absolute;
}
#front{
	position:absolute ;
    border:solid 18px #ffffff;
    width: 180px;
    height: 600px;
    left: 858px;
    top: 0px;
    background:#ffffff;
}
/* unvisited link */
a.projlink:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a.projlink:visited {
    color: black;
}

/* mouse over link */
a.projlink:hover {
    color: #808080 ;
    background-color: #e6e6e6;
}

/* selected link */
a.projlink:active {
    color: blue;
} 



.columnContact{
	float: left;
	width: 50%;	
	padding: 0px;
}
}
.rowContact:after{
	content: "";
	display: table;
	clear: both;
}


@media screen and (max-width: 600px) {
	.columnContact{
		width: 100%
	}
}

p.contact-text{
	font-size: 16px;
}

.button {
    background-color: white;
    border:  10px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
	color: #808080 ;
    background-color: #cce6ff;
}
.contactImage{
	position: relative;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:solid 18px #ffffff;
}
.frame{
	border:solid 18px #ffffff;
}
div.columnContact{
	text-align: center;
}